# ==========================
# Python
# ==========================
backend/venv/
backend/.env
**/__pycache__/
*.py[cod]

# ==========================
# React
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db